<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="opacity: 1;background-color: rgba(52,58,64,0.75);">
    <div class="container"><a class="navbar-brand js-scroll-trigger" routerLink="home" style="color: rgb(255,165,85);">J&amp;J</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="aboutus" style="color: rgb(255,165,85);">Acerca de Nosotros</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="team" style="color: rgb(255,165,85);">Equipo</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="contactus" style="color: rgb(255,165,85);">Contactenos</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgb(255,165,85);">Administracion</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="admin/project/list">Listar Proyectos</a>
                        <a class="dropdown-item" routerLink="admin/apartment/list">Listar Departamentos</a>
                        <a class="dropdown-item" routerLink="admin/project/new">Registrar Proyecto</a>
                        <a class="dropdown-item" routerLink="admin/apartment/new">Registrar Departamento</a>
                    </div>
                </li>
            </ul>
            <!-- <a class="btn btn-primary text-black-50 border-dark" role="button" href="userLogin.html" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);border:none;">Acceder</a> -->
        </div>
    </div>
</nav>
<section style="min-height: 650px; padding-top: 0px; padding-bottom: 0px;">
    <router-outlet></router-outlet>
</section>