<div class="container" style="padding-top: 120px;">
    <h3>Equipo</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laborum quod rem eveniet magnam quisquam, sint illum officia quibusdam, quidem sed officiis, et quis perspiciatis labore veniam facere doloribus. Esse?
    </p>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="../../../assets/img/silueta.png">
            <br>
            Nombre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../../assets/img/silueta.png">
            <br>
            Nombre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../../assets/img/silueta.png">
            <br>
            Nombre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../../assets/img/silueta.png">
            <br>
            Nombre y Apellido
        </div>
        <div class="col-4">
            <img class="img-fluid" src="../../../assets/img/silueta.png">
            <br>
            Nombre y Apellido
        </div>
    </div>
</div>