<header class="masthead" style="background-image: url(&quot;assets/img/backgrounds/header-bg.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Bienvenido a
                    J&amp;J!</span></div>
            <div class="intro-heading text-uppercase"><span
                    style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">&nbsp;Bienvenido
                    </span></div><a
                class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button"
                href="#" style="background-color: rgb(255,165,85);border:none;"></a>
        </div>
    </div>
</header>

