<div class="container" style="padding-top: 120px;">
    <h3>Acerca de nosotros</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vitae quaerat architecto nesciunt perspiciatis laborum tempore quisquam, libero maxime error veritatis nam reiciendis magni ut deleniti quasi omnis expedita rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus delectus eius, optio aperiam architecto odit exercitationem veritatis id distinctio ea enim quod quam eligendi similique ab magni reprehenderit reiciendis praesentium!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolorem ducimus sequi, exercitationem a culpa! Aspernatur, quidem vel minima facilis, obcaecati maiores, ullam cumque explicabo blanditiis adipisci ab perferendis eaque?
    </p>
</div>